<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/update-login}">
    <input class="btn btn-cyan my-4" type="submit" value="Сменить логин">
</form>
<form th:action="@{/update-mail}">
    <input class="btn btn-blue my-4" type="submit" value="Сменить почту">
</form>
<form th:action="@{/update-password}">
    <input class="btn btn-blue my-4" type="submit" value="Сменить пароль">
</form>
</body>
</html>