<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>lk page</title>
    <link th:replace="main.html :: bootstrap-css">
</head>
<body>
<img th:src="@{/images/mirea-logo.png}" class="mx-auto d-block" width="100px" alt="mirea-logo">
<!--/*@thymesVar id="form" type="com.dk98126.mireabankapp.model.form.CreateAccountRequestForm"*/-->
<form th:action="@{/create-request}" class="text-center border border-light p-5" th:object="${form}" method="post">
    <h5 class="h5-responsive">Выберите тип счета</h5>
    <select class="custom-select custom-select-lg mb-3" name="accountType">
        <option th:each="accountType : ${T(com.dk98126.mireabankapp.model.enm.AccountType).values()}"
                th:value="${accountType}" th:text="${accountType.getAccountTypeName()}"></option>
    </select>
    <button class="btn btn-light-blue my-4" type="submit">Создать заявку</button>
</form>
<form th:action="@{/my-room}">
    <input type="submit" class="btn btn-outline-green my-4" value="Вернуться в личный кабинет">
</form>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
</body>
</html>
