<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page test</title>
</head>
<body>
<span th:text="${'Привет, ' + name + '. Сайт посетили ' + counter + ' раз'}"></span>
<img th:src="@{/mirea-logo.png}" alt="mirea-logo" style="vertical-align: middle">

<form th:action="@{/registration}">
    <input type="submit" value="Регистрация">
</form>
<form th:action="@{/login}">
    <input type="submit" value="Вход">
</form>
</body>
</html>