<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>lk page</title>
</head>
<body>
<img th:src="@{/mirea-logo.png}" alt="mirea-logo" style="vertical-align: middle">
<form th:action="@{/main}">
    <input type="submit" value="Сделать перевод">
</form>
<form th:action="@{/create-request}" method="get">
    <input type="submit" value="Создать счет">
</form>
<form th:action="@{/main}">
    <input type="submit" value="История переводов">
</form>
<form th:action="@{/main}">
    <input type="submit" value="Состояния счетов">
</form>
<form th:action="@{/main}">
    <input type="submit" value="Настройка аккаунта">
</form>
<form th:action="@{/logout}">
    <input type="submit" value="Выйти">
</form>
</body>
</html>