<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>lk page</title>
    <link th:replace="main.html :: bootstrap-css">
</head>
<body>
<img th:src="@{/images/mirea-logo.png}" class="mx-auto d-block" width="100px" alt="mirea-logo">
<form th:action="@{/main}">
    <input class="btn btn-cyan my-4" type="submit" value="Сделать перевод">
</form>
<form th:action="@{/create-request}" method="get">
    <input class="btn btn-blue my-4" type="submit" value="Создать счет">
</form>
<form th:action="@{/main}">
    <input class="btn btn-deep-orange my-4" type="submit" value="История переводов">
</form>
<form th:action="@{/request-statuses}">
    <input class="btn btn-indigo my-4" type="submit" value="Состояния счетов">
</form>
<form th:action="@{/account-settings}">
    <input class="btn btn-lime my-4" type="submit" value="Настройка аккаунта">
</form>
<form th:action="@{/main}">
    <input class="btn btn-pink my-4" type="submit" value="Вернуться на главную">
</form>
<form th:action="@{/logout}">
    <input class="btn btn-outline-black my-4" type="submit" value="Выйти">
</form>
<div th:replace="main.html :: bootstrap-scripts"></div>
</body>
</html>