<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>lk page</title>
    <link th:replace="main.html :: bootstrap-css">
</head>
<body>
<img th:src="@{/images/mirea-logo.png}" class="mx-auto d-block" width="100px" alt="mirea-logo">
<table>
    <th>Id заявки</th>
    <th>Время перехода в состояние</th>
    <th>Статус</th>
    <th>Инициатор</th>
    <th>Сообщение</th>
    <tr th:each="status:${statuses}">
        <td th:text="${status.getId()}"></td>
        <td th:text="${dateFormatter.format(status.getTransitionTime())}"></td>
        <td th:text="${status.getStatus()}"></td>
        <td th:text="${status.getInitiator().getLogin()}"></td>
        <td th:text="${status.getMessage()}">""</td>
    </tr>
</table>
<form th:action="@{/my-room}">
    <input class="btn btn-outline-blue-grey my-4" type="submit" value="Перейти в личный кабинет">
</form>

<div th:replace="main.html :: bootstrap-scripts"></div>

</body>
</html>
